<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lab3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6820A1CE1F7EC610001BAFC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6820A1E21F7EC610001BAFC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6820A1ED1F7EC611001BAFC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
